# IntelliJ IDEA
.idea
*.iml
.vscode

# Testing
.pytest_cache
.coverage
htmlcov/
.tox
nosetests.xml
test-reports/

# OS specific
.DS_Store
.python-version
__pycache__
*.pyc
.editorconfig

# test specific
tmp/

# Secrets
id_rsa
credentials
identity
*.pem
.ssh/
.aws/
.gcp/
.kube/
venv

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
docker-image.tar.gz

# Installer logs
pip-log.txt